@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  color: #2C2C2C;
  line-height: 1.2;
  font-family: Inter, sans-serif;
}

a {
  text-decoration: none;
  color: #2C2C2C;
}

img {
  max-width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

@media screen and (min-width: 576px) {
  .d-sm-none {
    display: none;
  }
  .d-sm-block {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .d-lg-none {
    display: none;
  }
  .d-lg-block {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .d-xl-none {
    display: none;
  }
  .d-xl-block {
    display: block;
  }
}
@media screen and (min-width: 1400px) {
  .d-xxl-none {
    display: none;
  }
  .d-xxl-block {
    display: block;
  }
}
.container {
  --container-width: 1440px ;
}

.header {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  height: 130px;
}
.header .margin-custom {
  margin: 0;
  padding: 0;
}
.header .header-logo {
  display: flex;
  justify-content: center;
}
.header .icon-toggle {
  font-size: 3rem;
}
.header .header-content {
  height: 130px;
  display: flex;
}
.header .header-body {
  display: flex;
  margin-left: auto;
  gap: 60px;
}
.header .header-body input[type=checkbox]:checked ~ .header-manu {
  translate: 0;
}
.header .header-body input[type=checkbox]:checked ~ .overlay {
  display: block;
  opacity: 0.5;
}
.header .header-body .overlay {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgb(141, 134, 134);
  opacity: 0;
  transition: 0.4s linear;
  transition-property: opacity;
}
.header .header-body .header-manu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(61, 67, 85);
  translate: -100%;
  transition: all 0.4s linear;
}
.header .header-body .header-manu .manu-lists {
  display: block;
  padding: 50px;
}
.header .header-body .header-manu .manu-lists .manu-item {
  margin-bottom: 20px;
}
.header .header-body .header-manu .manu-lists .manu-item a {
  display: inline-block;
  position: relative;
  height: 26px;
  line-height: 26px;
  line-height: 2.6rem;
  font-weight: 600;
  font-size: 2rem;
  color: white;
}
.header .header-body .header-manu .manu-lists .manu-item a.active {
  color: #46B20F;
}
.header .header-body .header-manu .manu-lists .manu-item a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #46B20F;
  bottom: -1px;
  left: 0;
}
.header .header-body .header-manu .manu-lists .manu-item a:hover {
  color: #46B20F;
}
.header .header-body .header-icon {
  height: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 20px;
}
.header .header-body .header-icon .cart-icon, .header .header-body .header-icon .search-icon {
  line-height: 130px;
}
.header .header-body .header-icon .cart-icon::after {
  content: "";
  height: 15px;
  width: 15px;
}

.detail .detail-header {
  max-width: 772px;
  margin: 0 auto 8px auto;
  text-align: center;
}
.detail .detail-header h2 {
  font-size: 3.8rem;
  font-weight: 800;
  padding: 0 30px;
  margin-bottom: 3rem;
}
.detail .detail-header p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}
.detail .detail-prominent {
  max-width: 1440px;
  background-image: url("./../../assets/imgs/section/bg-detail.png");
  background-repeat: no-repeat;
  margin: 0 auto 120px auto;
}
.detail .detail-prominent .detail-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 26px;
  padding: 0 20px;
}
.detail .detail-prominent .detail-content .prominent-pre, .detail .detail-prominent .detail-content .prominent-last {
  width: 100%;
  height: 405px;
  border-radius: 4px;
  background-color: white;
  box-shadow: -7px 10px 87px 0px rgba(54, 54, 54, 0.12);
}
.detail .detail-prominent .detail-content .prominent-pre .prominent-box, .detail .detail-prominent .detail-content .prominent-last .prominent-box {
  background-color: #FFF0E7;
}
.detail .detail-prominent .detail-content .prominent-center {
  order: 3;
  width: 100%;
  height: 471px;
  border-radius: 4px;
  box-shadow: -7px 10px 87px 0px rgba(54, 54, 54, 0.12);
  background-color: white;
}
.detail .detail-prominent .detail-content .prominent-center .prominent-box {
  background-color: #F2FFEC;
}
.detail .detail-prominent .detail-content .prominent-box {
  height: 100px;
  width: 100px;
  border-radius: 12px;
  margin: 40px 40px 28px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail .detail-prominent .detail-content span {
  color: #2C2C2C;
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-left: 42px;
}
.detail .detail-prominent .detail-content p {
  margin-top: 29px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  padding: 0 20px 0 40px;
}

.product .row {
  row-gap: 120px;
}
.product .product-title {
  font-size: 38px;
  font-weight: 800;
  line-height: 50px;
  color: #2C2C2C;
  text-align: center;
  margin-bottom: 60px;
}
.product .product-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.product .product-item .product-detail {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.product .product-item .product-detail h3 {
  display: inline-block;
  position: relative;
  font-size: 28px;
  font-weight: 700;
  color: #2C2C2C;
  text-align: center;
}
.product .product-item .product-detail h3::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #a3a3a3;
  bottom: -15px;
  left: calc(50% - 25px);
}
.product .product-item .product-detail .product-price {
  margin-top: 36px;
  text-align: center;
}
.product .product-item .product-detail .product-price .quantity, .product .product-item .product-detail .product-price .price {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  line-height: 26px;
  color: #656565;
}
.product .product-item .product-detail .product-price .price {
  color: #2C2C2C;
}
.product .product-item .product-detail .product-price .price span {
  font-size: 2.8rem;
  font-weight: 600;
}
.product .product-item .btn {
  margin-top: 32px;
  display: block;
  width: 185px;
  padding: 16px 14px;
  border-radius: 8px;
  background-color: #46B20F;
  color: white;
  font-weight: 600;
}

.news .new-content {
  margin-bottom: 120px;
}
.news .new-header {
  margin: 160px 0 60px 0;
  text-align: center;
}
.news .new-header h2 {
  font-size: 38px;
  font-weight: 800;
  line-height: 50px;
  color: #2C2C2C;
}
.news .new-header p {
  max-width: 789px;
  margin: 28px auto 0 auto;
  color: #2C2C2C;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24.5px;
}
.news .new-items .sub-photo {
  margin: 19.5px 0;
  display: flex;
  justify-content: space-between;
}
.news .new-items .sub-photo span {
  font-size: 1.8rem;
  font-weight: 500;
  color: #46B20F;
}
.news .new-title {
  margin: 19.5px 0;
}
.news .new-title h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #2C2C2C;
}
.news .new-des p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24.5px;
}
.news .see-more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 4px;
  width: 184px;
  height: 56px;
  border: 1px solid #46B20F;
  border-radius: 8px;
}
.news .see-more a {
  line-height: 56px;
  font-size: 2rem;
  font-weight: 700;
}

.protected {
  margin-top: 120px;
}
.protected .container {
  width: 1305px;
}
.protected .protect-header {
  text-align: center;
}
.protected .protect-header h2 {
  font-size: 38px;
  font-weight: 800;
  line-height: 50px;
}
.protected .protect-header p {
  margin-top: 30px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 25px;
}
.protected .protect-content {
  margin-top: 60px;
  counter-reset: number;
}
.protected .protect-item {
  position: relative;
  width: 415px;
  height: 431px;
  background-color: #FFF0E7;
  border-radius: 10px;
  counter-increment: number;
}
.protected .protect-item::before {
  position: absolute;
  bottom: 0;
  left: 33px;
  content: "0" counter(number) ". Thân trên đũa";
  display: block;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.2rem;
  color: #e05050;
}
.protected .protect-item .protect-des {
  margin: 69px 0 0 33px;
}
.protected .protect-item .protect-des p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.45rem;
}

.section-form {
  margin: 160px 0 120px 0;
}
.section-form .form {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}
.section-form .form-title {
  margin: 60px 0 32px 0;
}
.section-form .field {
  height: auto;
  display: flex;
  border-radius: 8px;
  gap: 10px;
}
.section-form .field .name {
  flex: 1 0 100%;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #A3A3A3;
  padding: 15px;
  height: 54px;
  font-size: 1.8rem;
}
.section-form .field .email, .section-form .field .phone {
  flex: 1 1 50%;
  border-radius: 8px;
  border: 1px solid #A3A3A3;
  padding: 15px;
  height: 54px;
  font-size: 1.8rem;
}
.section-form .field .massage {
  border-radius: 8px;
  border: 1px solid #A3A3A3;
  padding: 16px 0 140px 16px;
  flex: 1 0 100%;
  font-size: 1.8rem;
}
.section-form .btn-submit-form {
  border-radius: 8px;
  color: white;
  background-color: #46B20F;
  height: 56px;
  width: 154px;
  margin-left: auto;
  font-size: 1.8rem;
  font-weight: 600;
}

.footer {
  background-color: #F2FFEC;
  padding: 80px 0 0 0;
}
.footer .photo {
  position: relative;
  top: -44px;
}
.footer .photo img {
  width: 250px;
  height: 191px;
  object-fit: cover;
}
.footer .photo h2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24px;
}
.footer .icon-footer {
  padding-right: 10px;
  font-size: 2.4rem;
}
.footer h3 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 26px;
  color: #46B20F;
  margin-bottom: 16px;
}
.footer ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer ul li, .footer ul a {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24.5px;
}
.footer .about {
  display: flex;
  justify-content: space-between;
}
.footer .about ul {
  display: flex;
  gap: 6px;
  flex-direction: row;
}
.footer .about ul li {
  height: 48px;
  width: 48px;
  text-align: center;
  line-height: 48px;
  border-radius: 50%;
  background-color: #DCFFCA;
  font-size: 24px;
}

@media screen and (min-width: 576px) {
  .header .header-body .header-icon {
    gap: 45px;
  }
  .detail .detail-prominent {
    margin-bottom: 120px;
  }
  .detail .detail-prominent .detail-content {
    padding: 0 20px;
  }
  .detail .detail-prominent .detail-content .prominent-pre, .detail .detail-prominent .detail-content .prominent-last {
    width: calc(50% - 13px);
  }
}
@media screen and (min-width: 768px) {
  .detail .detail-prominent {
    margin-bottom: 120px;
  }
  .detail .detail-prominent .detail-content {
    padding: 0 100px;
  }
}
@media screen and (min-width: 992px) {
  .detail .detail-prominent {
    margin-bottom: 120px;
  }
  .detail .detail-prominent .detail-content {
    padding: 0 150px;
  }
}
@media screen and (min-width: 1200px) {
  .header .header-logo {
    display: initial;
  }
  .header .header-body .header-manu {
    display: initial;
    position: initial;
    translate: initial;
    background-color: white;
  }
  .header .header-body .header-manu .manu-lists {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 60px;
  }
  .header .header-body .header-manu .manu-lists .manu-item {
    margin: 0;
  }
  .header .header-body .header-manu .manu-lists .manu-item a {
    display: flex;
    position: relative;
    height: 26px;
    line-height: 26px;
    line-height: 2.6rem;
    font-weight: 600;
    font-size: 2rem;
    color: #2C2C2C;
  }
  .header .header-body .header-manu .manu-lists .manu-item a.active {
    color: #46B20F;
  }
  .header .header-body .header-manu .manu-lists .manu-item a.active::after {
    bottom: -52px;
  }
  .header .header-body .header-manu .manu-lists .manu-item a:hover {
    color: #46B20F;
  }
  .header .header-body .header-icon {
    gap: 60px;
  }
  .information {
    width: 100vw;
    height: 850px;
    background-color: aquamarine;
  }
  .detail .detail-prominent {
    margin: 0 auto;
    height: 716px;
  }
  .detail .detail-prominent .detail-content {
    flex-direction: row;
    padding: 0;
  }
  .detail .detail-prominent .detail-content .prominent-pre, .detail .detail-prominent .detail-content .prominent-last {
    max-width: 353px;
    height: 405px;
  }
  .detail .detail-prominent .detail-content .prominent-pre {
    order: 1;
  }
  .detail .detail-prominent .detail-content .prominent-center {
    width: 411px;
    order: 2;
  }
  .detail .detail-prominent .detail-content .prominent-pre {
    order: 3;
  }
}
@media screen and (min-width: 1400px) {
  .header .header-body {
    position: initial;
    flex-direction: row;
  }
  .header .header-body .header-manu .manu-lists {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
