*{
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
    color: $textColor;
    line-height: 1.2;
    font-family: $fontFamily;
}
a{
    text-decoration: none;
    color: $textColor;
}
img{
    max-width: 100%;
    height: auto;
}
ul, ol{
    list-style: none;
}