.header{
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    .margin-custom{
        margin: 0;
        padding: 0;
    }
    .header-content{
        height: 130px;
        display: flex;
    }
    .header-body{
        display: flex;
        margin-left: auto;
        gap: 60px;
        .header-manu{
            .manu-lists{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                gap: 60px;
                .manu-item a{
                    display: inline-block;
                    position: relative;
                    height: 26px;
                    line-height: 26px;
                    line-height: 2.6rem;
                    font-weight: 600;
                    font-size: 2rem;
                    &.active {
                        color: $primaryColor;
                    }
                    &.active::after{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background-color: $primaryColor;
                        bottom: -52px;
                        left: 0;
                    }
                    &:hover{
                        color: $primaryColor;
                        }
                    }
            }
            
        }
        .header-icon{
            width: 120px;
            height: 100%;
            display: flex;
            flex-direction: row;
            height: 100%;
            gap: 60px;
            .cart-icon, .search-icon{
                line-height: 130px;
            }
        }
    }
    
}
.introduction{
    position: relative;
    height: 850px;
    .intro-content{
        margin-top: 261px;
    }
    h2{
        font-size: 44px;
        font-style: normal;
        font-weight: 800;
    }
    h1{
        color: $textColor;
        font-size: 52px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        padding-right: 200px;
        margin-top: 25px;
    }
    p{
        margin-top: 32px;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24.5px;
        padding-right: 145px;
    }
    img{
        position: absolute;
        left: 0;
    }
    .img-content{
        position: relative;
        img{
            position: absolute;
            left: -20%;
        }
    }
    .bg-choop{
        position: absolute;
        top: 0;
        right: 0;
        background-color: #DCFFCA;
        width: 931px;
        height: 850px;
        border-radius: 20px 0 0 20px;
        z-index: -1;
    }
}
.detail-container{
    margin: 120px 0 0 0;
    height: 929px;
    .detail-header{
        margin: 0 auto;
        width: 772px;
        h2{
            text-align: center;
            color: $textColor;
            font-family: Inter;
            font-size: 38px;
            font-style: normal;
            font-weight: 800;
            line-height: 131.523%;
            padding-right: 35px;
        }
        p{
            margin-top: 30px;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24.5px
        }
    }
    .detail-content{
        background-image: url(../../assets/imgs/section/bg-detail.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 716px;
    }
    .detail-content-prominent{
        // background-color: aquamarine;
        display: flex;
        padding-top: 138px;
        justify-content: center;
        align-items: center;
        gap: 26px;
    }
    .prominent-pre, .prominent-last{
        width: 353px;
        height: 405px;
        .prominent-box{
            height: 100px;
            width: 100px;
            border-radius: 12px;
            background-color: #FFF0E7;
            margin: 40px 0 28px 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .prominent-pre, .prominent-last, .prominent-center{
        background-color: orange;
        border-radius: 4px;
        background-color: white;
        box-shadow: -7px 10px 87px 0px rgba(54, 54, 54, 0.12);
    }
    .prominent-center{
        width: 411px;
        height: 471px;
        .prominent-box{
            height: 100px;
            width: 100px;
            border-radius: 12px;
            background-color: #F2FFEC;
            margin: 40px 0 28px 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    span{
        color: $textColor;
        font-size: 52px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        padding-left: 42px;
    }
    p{
        margin-top: 29px;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 37px;
        padding-left: 40px;
    }
    
}
.products{
    margin-top: 60px;
    // background-color: #DCFFCA;
    h2{
    text-align: center;
    font-size: 38px;
    }
    .lists-product{
        width: 1169px;
        // background-color: blueviolet;
        margin: 60px auto 0 auto;
    }
    .product-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .product-content{
            text-align: center;
            // width: 220px;
            margin-bottom: 32px;
            .product-name {
                margin-bottom: 35px;
                position: relative;
                h3{
                    width: 100%;
                    font-size: 26px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    color: $textColor;
                    padding: 0 53px;
                    
                }
                &.nopadding h3{
                    padding: 0;
                }
                span{
                    position: absolute;
                    content: '';
                    width: 49px;
                    height: 2px;
                    background-color: #a3a3a3;
                    left: 40%;
                    bottom: -15px;
                }
            }
            .product-quantity{
                display: block;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px; 
                color: #656565;
            }
            .price{
                font-size: 28px;
                font-style: normal;
                font-weight: 600;
                line-height: 32px;
                color: $textColor;
            }
        }
        .add-product{
            background-color: $primaryColor;
            border-radius: 8px;
            width: 185px;
            padding: 16px 14px;
            font-weight: 600;
            color: white;
            font-size: 1.6rem;
        }
    }
}

@media screen and (min-width: 576px){
    // .header .header-body{
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     bottom: 0;
    //     min-width: 200px;
    //     flex-direction: column;
    //     padding: 30px 0 0 30px;
    //     background-color: cadetblue;
    // }
    // .header .header-icon{
    //     flex-direction: column;
    // }
    // .header .header-body .header-manu .manu-lists{
    //     display: block;
    // }
    // .header .header-body .header-manu .manu-lists .manu-item a{
    //     background-color: #F2FFEC;
    // }
}
@media screen and (min-width: 768px){
    
}
@media screen and (min-width: 992px){
    
}
@media screen and (min-width: 1200px){
    .header .header-body{
        position: initial;
        flex-direction: row;
    }
    .header .header-body .header-manu .manu-lists{
        display: flex;
    }
}
@media screen and (min-width: 1400px){
    
}